.header {
    max-width: 1258px;
    padding: 34px 29px;
    margin: 0 auto;
    display: flex;
}

.header__logo {
    margin-right: auto;
}

.header__menu {
    display: flex;
    gap: 27px;
}

.header__menu__item {
    display: flex;
    gap: 10px;
    color: #121212;
    align-items: center;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.header__menu__search {
    font-size: 14px;
    font-weight: 700;
}

.header__menu__favourites {
    font-size: 14px;
    font-weight: 400;
}