.button {
    border-radius: 8px;
    background: var(--button-bg);
    color: var(--black);
    text-align: center;
    font-weight: 400;
    line-height: 28px;
    border: none;

    cursor: pointer;

}

.button_normal {
    padding: 10px 32px 11px 32px;
    font-size: 24px;
}

.button_small {
    padding: 8px 26px 8px 26px;
    font-size: 16px;
}

.button_primary {}