.card {
    background-color: var(--gray);
    display: flex;
    border-radius: 8px;

}


.card__image-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 252px;
    background-color: var(--gray-light);
    border-radius: 8px 0 0 8px;
}

.card__image {
    width: 80%;
}

.card__main {
    padding: 26px;
    width: 100%;
}

.card__main__wrapper {
    display: flex;
    gap: 21px;
    justify-content: space-between;


}

.card__main__body {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.card__main__body h2 {
    margin: 0;
    color: var(--black);
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
}

.card__main__body p {
    margin: 0;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.card__main__buttons {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card__main__footer {}

@media (max-width: 576px) {
    .card__main__wrapper {
        flex-direction: column;
    }

    .card__image-bg {
        display: none;
    }

    .card__main__body h2 {
        font-size: 26px;
    }
}