.hero {
    background-color: var(--Gray-dark);
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1172px;
    margin: 0 auto;
    padding: 60px 24px 100px 24px;
}

.hero__h1 {
    color: var(--White);
    margin: 0;
    margin-bottom: 24px;
    font-size: 54px;
    font-weight: 700;
    line-height: 100%;
}

.hero__h1_gradient {
    background: var(--Grad1, linear-gradient(93deg, #D77BE5 9.26%, #BE63E5 42.32%, #6C38CC 104.58%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__buttons {
    display: flex;
    gap: 32px
}

.hero__image {
    max-width: 458px;
}

@media (max-width: 1200px) {
    .hero__wrapper {
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .hero__buttons {
        justify-content: center;
    }
}

@media (max-width:586px) {

    .hero__h1 {
        font-size: 30px;

    }

    .hero__buttons {
        gap: 16px;
    }

    .hero__image {
        width: 100%;
    }
}

.blog__wrapper {
    max-width: 1172px;
    margin: 0 auto;
    padding: 100px 24px;
}

.blog__header {
    margin-bottom: 48px;
}

.blog__p {
    color: var(--White, #FAFAFA);
    max-width: 787px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 32px;
}

.articles {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 48px;
}

.articles__item {
    width: calc(100% - 40px - 32px);
    display: flex;
    justify-content: space-between;
    background-color: var(--Gray-dark);
    padding: 35px 40px 32px 32px;
    border-radius: 10px;
}

.articles__item__content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
}

.articles__item__statistic {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.articles__item__statistic__unit {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--Gray, #AFB2BF);

}

.articles__item__statistic__unit p {
    margin: 0;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.articles__item__content h3 {
    margin: 0;
    color: var(--White, #FAFAFA);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.articles__item__content>p {
    color: var(--White, #FAFAFA);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    max-width: 742px;
    margin: 0;
}

.blog__btn {
    display: flex;
    justify-content: center;
}

.blog__all-button {
    margin: 0 auto 0 auto;
}

@media(max-width: 1200px) {
    .blog__wrapper {
        padding: 52px 24px 32px 24px;
    }
}


@media(max-width: 990px) {
    .blog__header {
        margin-bottom: 24px;
    }

    .articles {
        margin-bottom: 24px;
    }

    .articles__item {
        width: calc(100% - 32px);
        flex-direction: column;
        padding: 24px 16px;
    }

    .articles__item__content {
        margin-bottom: 16px;
    }

    .articles__item__content h3 {
        font-size: 21px;
    }

    .articles__item__statistic {
        gap: 16px;
    }

    .articles__item__statistic__unit p {
        font-size: 14px;
    }

    .blog__all-button {
        width: 100%;
    }
}

.courses {
    max-width: 1172px;
    margin: 0 auto;
    padding: 100px 24px;
}

.courses__head {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.courses__chip-line {
    display: flex;
    gap: 24px;
    flex-basis: content;
    overflow-y: hidden;
}

.courses__chip-line::-webkit-scrollbar {
    display: none;
}

.courses__cards {
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
}


@media (max-width: 586px) {
    .courses {
        padding: 41px 24px;
    }

    .courses__chip-line {
        gap: 16px;

    }

    .courses__head {
        gap: 0;
        margin-bottom: 24px;
    }

    .courses__cards {
        gap: 24px;
    }
}