.accordion__header {
    background-color: var(--accordion-header_background);
    border-radius: var(--radius_8);
    padding: 12px 20px 11px 23px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.accordion__header:hover {
    background-color: gray;
}

.accordion__main {}

.accordion__body {
    background-color: var(--accordion-main_background);
    width: 100%;
    max-height: 0;
    border-radius: 0 0 var(--radius_8) var(--radius_8);
    transition: max-height 1s ease-in;
    overflow: hidden;



}

.accordion__body-show {
    max-height: 200px;

}

/* .accordion__item {
    display: block;
} */